{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1 class="mb-5 text-center">{{ restaurant.name }}</h1>
    <div class="mt-5 text-center">
        <div class="text-center border mx-auto my-2 w-50 bg-light">
            <h3>{{ restaurant.name }}</h3>
            <br>
            <p class="pt-3">Adress : {{ restaurant.adress }}</p>
            
            <p>Code Postal : {{ restaurant.cp }}</p>

            {% for i in restaurant.plats %}
            <p>{{ i.name }}</p>
            <p>Prix : {{ i.price }}€</p>
            {% endfor %}
            

            {# {% if (is_granted('ROLE_USER')) and (announce.author.id == app.user.id) or (is_granted('ROLE_ADMIN'))  %}
            <button class="btn btn-danger mb-3"><a class="text-white text-decoration-none" href="{{ path('announce.delete', {id: announce.id}) }}">Supprimer</a></button>
            <button class="btn btn-primary mb-3"><a class="text-white text-decoration-none" href="{{ path('announce.edit', {slug: announce.slug}) }}">Modifier</a></button>
            {% endif %} #}
        </div>
    </div>
{% endblock %}
