{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <div class="mt-5 text-center">
        <div class="text-center border mx-auto my-2 w-50 shadow bg-light rounded">

{% for message in app.flashes('notice') %}
    <div class="flash-notice alert alert-success">
        {{ message }}
    </div>
{% endfor %}

            <h3 class="text-uppercase">{{ restaurant.name }}</h3>
            <br>
            <p> {{ restaurant.specialite }} </p>
            <h4 class="pt-3">Adresse : {{ restaurant.adress }}</h4>
            
            <h4>Code Postal : {{ restaurant.cp }}</h4>

            <p> {{ restaurant.description }} </p>

            {% for i in restaurant.plats %}
            <p class="fw-bold">{{ i.name }}</p>
            <img class="border border-secondary rounded" style="width:10rem;" src={{i.picture}}>
            <p class="fst-italic">Prix : {{ i.price }}€</p>

            <form method="post" action="{{ path('app_add_cart', {platId: i.id}) }}">
                <label for="quantity">Ajouter au panier</label>
                <input type="number" id="quantity" name="quantity" value="{{ i.quantity }}">
                <input type="hidden" id="name" name="name" value="{{ i.name }}">
                <input type="hidden" id="price" name="price" value="{{ i.price }}">
                <button>Ajouter au panier</button>
            </form>
            {% endfor %}
             
            <a href="{{ path('app_resto_index') }}"><button class="btn btn-secondary">back to list</button></a>

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_resto_edit', {'id': restaurant.id}) }}"><button class="btn btn-primary">edit</button></a>

            {{ include('resto/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>
{% endblock %}
