{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
    <h1>Plat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Restaurant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.name }}</td>
                <td>{{ plat.price }}</td>
                <td><img class="border border-secondary rounded" style="width:10rem;" src={{plat.picture}}></td>
                <td>{{ plat.restaurant }}</td>
                <td>
                    <a href="{{ path('app_plat_show', {'id': plat.id}) }}">show</a>
                    <a href="{{ path('app_plat_edit', {'id': plat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plat_new') }}">Create new</a>
{% endblock %}
